<div class="form">
<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div id="error_message">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p>
      <%= f.text_field :username, placeholder: "username" %><br>
      <%= f.password_field :password, placeholder: "password" %><br>
      <%= f.password_field :password_confirmation, placeholder: "confirm password" %><br>
      <%= f.text_field :avatar_url, placeholder: "image link" %> <br>
      <%= f.submit "Submit" %>
    </p>
  </div>
<% end %>
</div>
