<h1><%= @user.username.upcase %>'s Lists</h1>

<div class="categories">
  <% @user.categories.each do |category| %>

  <h2><%= category.name.titleize %></h2>

  <ul>
    <% category.posts.each do |post| %>
      <% if post.user_id == @user.id %>
        <li>
          <h3><%= post.title %></h3>
          <p><%= post.description %></p>
          <p><a href="<%= post.photo_url%>"><img src="<%= post.photo_url%>"></img></a></p>
          <p>Goal Date: <%= post.goal_date %></p>
          <p>Completed On: <%= post.completed_date %></p>
          <% if post.user_id == current_user.id %>
            <p><%= link_to "edit", edit_post_path(post) %> | <%= link_to "delete", post_path(post), method: :delete, data: {confirm: "Are you sure?"}%></p>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <% end %>
</div>

<%= link_to "Back to All Users", users_path %>
