<%= form_for @post do |f| %>

  <% if @post.errors.any? %>
    <div id="error_message">
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    title<br><%= f.text_field :title %>
  </p>
  <p>
    description<br><%= f.text_area :description %>
  </p>
  <p>
    goal date<br><%= f.date_field :goal_date %>
  </p>
  <p>
    completed date<br><%= f.date_field :completed_date %>
  </p>
  <p>
    <%= f.submit "Submit" %>
  </p>

<% end %>
