<!DOCTYPE html>
<html>
<head>
  <title>DIYtodoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <div>
      <%= current_user.username %> signed in | <%= link_to "Logout", logout_path %>
    </div>
    <div>
      <%= link_to "See Your Lists", user_categories_path(current_user) %>
    </div>
  <% else %>
    <div>
      <%= link_to "Login", "/" %>
    </div>
  <% end %>

<%= yield %>

</body>
</html>
